<div class="container">
    <div class="row">
        <div class="col-lg-6 m-auto">
            <div class="comon-head text-center wow slideInLeft">
                <h3>About us</h3>
                <p>Choose <b>RMCC</b> for trusted, innovative, and customer-centric CCTV and security services that
                    prioritize your safety and deliver peace of mind.</p>
            </div>
        </div>
    </div>
    <div class="row about-main">
        <div class="col-lg-6">
            <div class="about-img">
                <img src="images/supervisor_on_computer.jpg" alt="about us" class="img-fluid w-100">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about-text">
                <div class="about-head text-start">
                    <h2 class="abt-head">Your Safety, Our Priority</h2>
                    <h3>Empowering Security for a Safer Tomorrow</h3>
                    <p class="abt-details">At <b>RMCC</b>, our mission is to provide expert CCTV and security solutions
                        that ensure the safety and protection of your premises. With a deep commitment to excellence and
                        a passion for safety, we are your trusted partner in safeguarding what matters most.</p>
                    <p>With a team of experienced professionals, we bring a wealth of knowledge and expertise to every
                        project. Our years of industry experience have allowed us to develop a deep understanding of the
                        evolving security landscape, enabling us to stay at the forefront of technological advancements
                        in surveillance.</p>
                    <div class="row m-1">
                        <div class="col-lg-6 d-flex justify-content-center align-items-center p-3">
                            <p class="fs-1 p-2 font-weight-bold">5000+</p>
                            <p class="fs-6"><i class="fa fa-square abt-square"></i> CCTV installed</p>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center align-items-center p-3">
                            <p class="fs-1 p-2 font-weight-bold">4800+</p>
                            <p class="fs-6"><i class="fa fa-square abt-square"></i> Satisfied Clients</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>