<i class="fa fa-chevron-left left"></i>
<i class="fa fa-chevron-right right"></i>
<div class="container">
    <div class="row feed-slider">
        <div class="col-lg-12">
            <div class="feed-comment">
                <div class="feed-img m-auto">
                    <img src="images/people.jpg" alt="people" class="img-fluid w-100">
                </div>
                <div class="feed-text text-center">
                    <p>Customer Analysis for fresh vegetables and frutis
                        The motive to create this small dataset was to get the survey of people on how would they accept
                        the service of getting fresh vegetables and fruits of a particular place and that to at the same
                        market price.</p>
                    <span>Sohel</span>
                    <h6>Happy Customer</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="feed-comment">
                <div class="feed-img m-auto">
                    <img src="images/people2.jpg" alt="people2" class="img-fluid w-100">
                </div>
                <div class="feed-text text-center">
                    <p>Customer Analysis for fresh vegetables and frutis
                        The motive to create this small dataset was to get the survey of people on how would they accept
                        the service of getting fresh vegetables and fruits of a particular place and that to at the same
                        market price.</p>
                    <span>David</span>
                    <h6>Happy Customer</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="feed-comment">
                <div class="feed-img m-auto">
                    <img src="images/people3.jpg" alt="people3" class="img-fluid w-100">
                </div>
                <div class="feed-text text-center">
                    <p>Customer Analysis for fresh vegetables and frutis
                        The motive to create this small dataset was to get the survey of people on how would they accept
                        the service of getting fresh vegetables and fruits of a particular place and that to at the same
                        market price.</p>
                    <span>Jack</span>
                    <h6>Happy Customer</h6>
                </div>
            </div>
        </div>
    </div>
</div>