<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="footer-first-part text-center">
                <div class="slogan">
                    <img src="../images/logo1.png" alt="Logo">

                    <p>Make a smart choice for your safety.</p>
                </div>
                <p>
                    Protecting what matters most.RMCC is your trustsed partner for comprehensive CCTV and security
                    solutions.we deliever peace of mind and safeguard at your premises.
                </p>
            </div>
            <div class="footer-social text-center">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-behance"></i></a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="footer-first-part text-center lg-offset-3">
                <h3>SHOP INFO</h3>
                <h5>
                    <a href="#">About us</a>
                </h5>
                <h5>
                    <a href="#">Careers</a>
                </h5>
                <h5>
                    <a href="#">Social Responsibility</a>
                </h5>
                <h5>
                    <a href="#">Affiliate Program</a>
                </h5>
                <h5>
                    <a href="#">Business With Us</a>
                </h5>
                <h5>
                    <a href="#">Find a Store</a>
                </h5>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="footer-first-part text-center mt-3">
                <h3>OUR SERVICES</h3>
                <h5>
                    <a href="#">CCTV Installation</a>
                </h5>
                <h5>
                    <a href="#">Security Solution</a>
                </h5>
                <h5>
                    <a href="#">Solar Services</a>
                </h5>
                <h5>
                    <a href="#">Wifi Networking Solutions</a>
                </h5>
                <h5>
                    <a href="#">Biometric & Access Control</a>
                </h5>
                <h5>
                    <a href="#">Laptop Services</a>
                </h5>
                <h5>
                    <a href="#">Printer Services</a>
                </h5>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="footer-first-part text-center mt-3">
                <h3>CONTACT US</h3>
                <h5>
                    <i class="fa fa-map-marker"> </i><a href="#"><span></span>Chhatrapati
                        Sambhajinagar,Maharashtra-431001</a>
                </h5>
                <h5>
                    <i class="fa fa-envelope"></i> <a href="#" class="email"><span></span>rmcctechnologies@gmail.com</a>
                </h5>
                <h5>
                    <i class="fa fa-phone"></i> <a href="#"><span></span>7770053859, 9577771453, 8668903561</a>
                </h5>

            </div>
        </div>
    </div>