<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="footer-first-part text-center">
                <img src="images/Logo.png" alt="Logo">
                <p>
                    Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque
                    nisl consectetur et.
                </p>
            </div>
            <div class="footer-social text-center">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-behance"></i></a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="footer-first-part text-center lg-offset-3">
                <h3>shop info</h3>
                <h5>
                    <a href="#">About us</a>
                </h5>
                <h5>
                    <a href="#">Careers</a>
                </h5>
                <h5>
                    <a href="#">Social Responsibility</a>
                </h5>
                <h5>
                    <a href="#">Affiliate Program</a>
                </h5>
                <h5>
                    <a href="#">Business With Us</a>
                </h5>
                <h5>
                    <a href="#">Find a Store</a>
                </h5>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="footer-first-part text-center mt-3">
                <h3>Quick Links</h3>
                <h5>
                    <a href="#">Special Offers</a>
                </h5>
                <h5>
                    <a href="#">Gift Cards</a>
                </h5>
                <h5>
                    <a href="#">F21 Red</a>
                </h5>
                <h5>
                    <a href="#">Privacy Policy</a>
                </h5>
                <h5>
                    <a href="#">California Privacy Rights</a>
                </h5>
                <h5>
                    <a href="#">CA Transparency in Store</a>
                </h5>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="footer-first-part text-center">
                <h3>contact us</h3>
                <h5>
                    <a href="#">
                        Through Whatsapp</a>
                </h5>
                <img src="images/call-number.png" alt="call-number">
                <h5>
                    <a href="#">jessore khulna Bangladesh</a>
                </h5>
                <h5>
                    <a href="#">- rmcctechnologes@gmail.com</a>
                </h5>
            </div>
        </div>
    </div>
</div>