<div class="container gal-main">
    <div class="row">
        <div class="col-lg-12">
            <div class="gal-btn text-center">
                <button type="button" class="btn btn-green" data-filter="all">all</button>
                <button type="button" class="btn btn-green" data-filter=".cokies">cameras</button>
                <button type="button" class="btn btn-green" data-filter=".fish">Rooftop solar</button>
                <button type="button" class="btn btn-green" data-filter=".vegetalbes">vedio Door Phone</button>
                <button type="button" class="btn btn-green" data-filter=".fruit">Laptops</button>
                <button type="button" class="btn btn-green" data-filter=".perfumes">Biomatric</button>
                <button type="button" class="btn btn-green" data-filter=".shop-insides">Desktop</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 mix cokies">
            <div class="gal-item">
                <img src="images\cctvcam.jpg" alt="coki-1" class="img-fluid w-100" >
                <div class="gal-overlay">
                </div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images\cctvcam.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix fish">
            <div class="gal-item">
                <img src="images\solar.jpg" alt="fish-1" class="img-fluid w-100" style="height: 245px;">
                <div class="gal-overlay">
                </div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images\solar.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix vegetalbes">
            <div class="gal-item">
                <img src="images\vediodoorlock.jpg "  alt="fruit-2" class="img-fluid w-100" style="height: 245px;">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images\vediodoorlock.jpg "><img src=""  />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix fruit">
            <div class="gal-item">
                <img src="images\laptop.jpg" alt="shop-3" class="img-fluid w-100"  style="height: 245px;">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images\laptop.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix perfumes">
            <div class="gal-item">
                <img src="images\accesslock.jpg" alt="per-1" class="img-fluid w-100"  style="height: 245px;">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images\accesslock.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix shop-insides">
            <div class="gal-item">
                <img src="images\printer .jpg" alt="vegie-4" class="img-fluid w-100"  style="height: 245px;">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images\printer .jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix vegetalbes">
            <div class="gal-item">
                <img src="images\wifi.png" alt="coki-7" class="img-fluid w-100"  style="height: 245px;">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images\wifi.png"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix fish">
            <div class="gal-item">
                <img src="images\desktop.jpg" alt="fruit-8" class="img-fluid w-100"  style="height: 245px;">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images\desktop.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>