<div class="container gal-main">
    <div class="row">
        <div class="col-lg-12">
            <div class="gal-btn text-center">
                <button type="button" class="btn btn-green" data-filter="all">all</button>
                <button type="button" class="btn btn-green" data-filter=".cokies">cokies</button>
                <button type="button" class="btn btn-green" data-filter=".fish">fish</button>
                <button type="button" class="btn btn-green" data-filter=".vegetalbes">vegetalbes</button>
                <button type="button" class="btn btn-green" data-filter=".fruit">fruit</button>
                <button type="button" class="btn btn-green" data-filter=".perfumes">perfumes</button>
                <button type="button" class="btn btn-green" data-filter=".shop-insides">shop insides</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 mix cokies">
            <div class="gal-item">
                <img src="images/gallery/coki/coki-1.jpg" alt="coki-1" class="img-fluid w-100">
                <div class="gal-overlay">
                </div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images/gallery/coki/coki-1.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix fish">
            <div class="gal-item">
                <img src="images/gallery/fish/fish-1.jpg" alt="fish-1" class="img-fluid w-100">
                <div class="gal-overlay">
                </div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images/gallery/fish/fish-1.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix vegetalbes">
            <div class="gal-item">
                <img src="images/gallery/fruit/fruit-2.jpg" alt="fruit-2" class="img-fluid w-100">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images/gallery/fruit/fruit-2.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix fruit">
            <div class="gal-item">
                <img src="images/gallery/inside/shop-3.jpg" alt="shop-3" class="img-fluid w-100">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images/gallery/inside/shop-3.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix perfumes">
            <div class="gal-item">
                <img src="images/gallery/perfu/per-1.jpg" alt="per-1" class="img-fluid w-100">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images/gallery/perfu/per-1.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix shop-insides">
            <div class="gal-item">
                <img src="images/gallery/vegie/vegie-4.jpg" alt="vegie-4" class="img-fluid w-100">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images/gallery/vegie/vegie-4.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix vegetalbes">
            <div class="gal-item">
                <img src="images/gallery/coki/coki-7.jpg" alt="coki-7" class="img-fluid w-100">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images/gallery/coki/coki-7.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mix fish">
            <div class="gal-item">
                <img src="images/gallery/fruit/fruit-8.jpg" alt="fruit-8" class="img-fluid w-100">
                <div class="gal-overlay"></div>
                <div class="gal-over-2"></div>
                <div class="middle-icon">
                    <a class="venobox" data-gall="myGallery" href="images/gallery/coki/coki-7.jpg"><img src="" />
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>