<div class="row mx-0">
    <div class="col-lg-4">
        <div class="news-letter-left">
            <img src="../images/img.jpg" alt="vegetables-pic" class="img-fluid w-100">
        </div>
    </div>
     <div class="col-lg-4">
        <div class="form text-center">
            <div class="from-head">
                <h3>Newsletter</h3>
                <p>Subscribe to the weekly newsletter for all the latest updates</p>
            </div>
            <form action="#" method="POST">
                <div class="form-field">
                    <input type="text" placeholder="">
                </div>
                <div class="form-field">
                    <button class="form-btn" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="news-letter-left">
            <img src="images/img2.jpg" alt="vegetables-pic" class="img-fluid w-100">
        </div>
    </div>
</div>