<div class="row mx-0">
    <div class="col-lg-4">
        <div class="news-letter-left">
            <img src="../images/img.jpg" alt="vegetables-pic" class="img-fluid w-100">
        </div>
    </div>
     <div class="col-lg-4">
        <div class="form text-center">
            <div class="from-head">
                <p>Choose RMCC for trusted,innovative and customer-centric CCTV and security services that prioritize your safety and deliver peace of mind
         </p>
            </div>
            <!-- <form action="#" method="POST">
                <div class="form-field">
                    <input type="text" placeholder="">
                </div>
                <div class="form-field">
                    <button class="form-btn" type="submit">Subscribe</button>
                </div>
            </form> -->
            <button class="contact">CALL FOR FREE TODAY</button>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="news-letter-left">
            <img src="images/img2.jpg" alt="vegetables-pic" class="img-fluid w-100">
        </div>
    </div>
</div>