<div class="container">
    <div class="row">
        <div class="col-lg-6 m-auto">
            <div class="pricing-head text-center wow slideInLeft">
                <h3>featured product</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="pricing-item">
                <div class="pricing-img">
                    <img src="images/Tomato.png" alt="Tomato" class="img-fluid w-100">
                </div>
                <div class="price-offer text-center">
                    <h5>price $20.00 <del>$10.00</del></h5>
                </div>
                <div class="pricing-icon text-center">
                    <a href="">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart-o"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="pricing-text d-flex justify-centent-center align-items-center">
                    <div class="text-area m-auto">
                        <h5>Discount</h5>
                        <span>up to</span>
                        <h6>60%</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pricing-item">
                <div class="pricing-img">
                    <img src="images/fish.png" alt="fish" class="img-fluid w-100">
                </div>
                <div class="price-offer text-center">
                    <h5>price $20.00 <del>$10.00</del></h5>
                </div>
                <div class="pricing-icon text-center">
                    <a href="">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart-o"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="pricing-text d-flex justify-centent-center align-items-center">
                    <div class="text-area m-auto">
                        <h5>Discount</h5>
                        <span>up to</span>
                        <h6>70%</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pricing-item">
                <div class="pricing-img">
                    <img src="images/vegie.png" alt="vegie" class="img-fluid w-100">
                </div>
                <div class="price-offer text-center">
                    <h5>price $20.00 <del>$10.00</del></h5>
                </div>
                <div class="pricing-icon text-center">
                    <a href="">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart-o"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="pricing-text d-flex justify-centent-center align-items-center">
                    <div class="text-area m-auto">
                        <h5>Discount</h5>
                        <span>up to</span>
                        <h6>80%</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pricing-item">
                <div class="pricing-img">
                    <img src="images/begun.png" alt="begun" class="img-fluid w-100">
                </div>
                <div class="price-offer text-center">
                    <h5>price $20.00 <del>$10.00</del></h5>
                </div>
                <div class="pricing-icon text-center">
                    <a href="">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart-o"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="pricing-text d-flex justify-centent-center align-items-center">
                    <div class="text-area m-auto">
                        <h5>Discount</h5>
                        <span>up to</span>
                        <h6>40%</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>