<div class="container">
    <div class="row">
        <div class="col-lg-6 m-auto">
            <div class="service-head text-center wow slideInLeft">
                <h5>What We Offer</h5>
                <h3>Service we offer</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="service-item">
                <div class="service-img">
                    <img src="images\cctv.png" alt="service-1" class="img-fluid w-100">
                </div>
                <div class="service-bottom">
                    <h4>CCTV Cameras</h4>
                    <p>Our CCTV services provide comprehensive solutions for all your surveillance needs.
                        From consultation to installation, maintenance, and support,we are committed
                         to delivering high-quality CCTV solutions that ensure the safety and security.</p>
                </div>
                <div class="service-icon">
                    <i class="fa fa-chevron-right"></i>
                </div>
                <div class="service-content text-center d-flex justify-centent-center align-items-center">
                    <div class="content-last">
                        <h4>CCTV Cameras</h4>
                        <p>With our expertise in the field, we offer a range of services tailored to meet your 
                            specific requirements.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="service-item">
                <div class="service-img">
                    <img src="images\systemacc.jpg" alt="service-2" class="img-fluid w-100">
                </div>

            

                <div class="service-bottom">
                    <h4>System Accessories</h4>
                    <p>We understand that a comprehensive security solution extends beyond CCTV surveillance. 
                        Highlight the wide range of system accessories available, including peripherals such as keyboards, monitors, cables,adapters, printer and 
                        intercom. 
                       </p>
                </div>
                <div class="service-icon">
                    <i class="fa fa-chevron-right"></i>
                </div>
                <div class="service-content text-center d-flex justify-centent-center align-items-center">
                    <div class="content-last">
                        <h4>System Accessories</h4>
                        <p> Our range of system accessories ensures seamless integration, enhanced functionality, 
                            and improved security across your premises.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="service-item">
                <div class="service-img">
                    <img src="images\systemrep.jpg" alt="service-3" class="img-fluid w-100">
                </div>
                <div class="service-bottom">
                    <h4>System Repairing </h4>
                    <p>Our priority is to provide reliable and efficient system repair services. With our expertise, attention to detail, 
                         and commitment to customer satisfaction, you can trust us to handle your system repairs with 
                         professionalism and care.

                    </p>
                </div>
                <div class="service-icon">
                    <i class="fa fa-chevron-right"></i>
                </div>
                <div class="service-content text-center d-flex justify-centent-center align-items-center">
                    <div class="content-last">
                        <h4>System Repairing </h4>
                        <p>Specialize in repairing a wide range of systems, including desktop computers, laptops, and servers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>