<div class="side-logo text-center">
    <img src="images/Logo.png" alt="Logo">
</div>
<div class="menu-silde-bar text-center">
    <a href="#">Home</a>
    <a href="#">about</a>
    <a href="#">service</a>
    <a href="#">Pricing</a>
    <a href="#">Gallery</a>
    <a href="#">contact</a>
</div>
<div class="social-side-bar">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-behance"></i>
</div>
<i class="fa fa-bars fa-close side-click"></i>